body {
    background-color: #fff3e5;
    font-family: "Montserrat";
    margin: 0;
    padding: 2vh 1vw;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 1vw;
    grid-template-areas:
    "header"
    "bodymain";
}

header {
    grid-area: header;
    background-color: #efdfd4;
    padding: 0 2vw;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    width: 8rem;
}

.header-searchbar {
    width: 40vw;
    border-radius: 25px;
    height: auto;
    padding: 1rem 2rem;
    border: none;

    text-align: right;

    background: white url("../media/search-icon.svg") no-repeat 15px center;
    background-size: 1rem;

    font-family: "Montserrat", Arial;
}

.body-main {
    grid-area: bodymain;
    display: grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

aside {
    text-align: left;
    background-color: #efdfd4;
    padding: 1vh 1vw;
    border-radius: 25px;
    height: fit-content;
}

.aside-filters {
}

main {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

@media only screen and (max-width: 640px) {
    main {
        grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
}

.main-card {
    background-color: white;
    padding: 15px;
    justify-content: center;
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas:
    "image"
    "name"
    "text";
    border-radius: 25px;
}

.card-image {
    grid-area: image;
    width: 100%;
    border-radius: 25px;
}

.card-name {
    grid-area: name;
    font-size: 150%;
}

.card-text {
    grid-area: text;
    text-align: left;
}

button {
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
}

button:hover {
    color: #efdfd4;
}